.wrapper {
  border-radius: 6px;
  border: 2px solid #1BB0FF;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-width: 400px;
  padding: 20px;

  p {
    margin: 0 20px 0 20px;
  }

  @media (min-width: 0px) and (max-width: 420px) {
    min-width: auto;
  }
}

.wrapper-emptyData {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  

  p {
    margin-bottom: 0;
  }
}

.img-notFound {
  cursor: pointer;
  width: 120px;
}
