.wrapper {
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  bottom: 0;
  display: inline-flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.container {
  align-items: center;
  background-color: #ffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;

  h2 {
    color: #1BB0FF;
  }


  @media (max-width: 490px) {
    margin: 20px;
    width: 100%;
  }
}

.contentForm {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding-bottom: 30px;
}

input, textarea {
  margin-bottom: 10px;
}

.wrapper-btn {
  display: flex;
  justify-content: space-between;
}
